.perfume-ticker {
    width: 100%;
    height: 45px;
    background: #050505;
    border-top: 1px solid #c9a227;
    border-bottom: 1px solid #c9a227;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.ticker-track {
    display: flex;
    width: max-content;
    animation: perfumeScroll 35s linear infinite;
}

.ticker-content {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.ticker-content span {
    color: #d4af37;
    font-family: "Times New Roman", serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    white-space: nowrap;
    padding: 0 18px;
}

.ticker-content i {
    color: #ffffff;
    font-size: 10px;
    font-style: normal;
}

@keyframes perfumeScroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* Mobile */
@media (max-width: 600px) {

    .perfume-ticker {
        height: 40px;
    }

    .ticker-content span {
        font-size: 11px;
        letter-spacing: 1.5px;
        padding: 0 12px;
    }

    .ticker-track {
        animation-duration: 28s;
    }
}
#myCarousel .carousel-item {
    height: 520px;
}

#myCarousel .carousel-item img {
    width: 110%;       /* सिर्फ width बढ़ाई */
    height: 100%;      /* height बिल्कुल वही */
    object-fit: cover;
    display: block;
}
#myCarousel {
    border-radius: 30px;
    overflow: hidden;
}
.round-image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
}

.round-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Footer */

.footer {
    background: #fcfafa;
    color: white;
    padding: 50px 8% 20px;
    margin-top: 60px;
}

/* Main Footer */

.footer-box {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* Brand */

.footer-brand h2 {
    color: #d4af37;
    margin-bottom: 10px;
}

.footer-brand p {
    color: #aaa;
}

/* Headings */

.footer h3 {
    color: #d4af37;
    margin-bottom: 15px;
}

/* Links */

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-links a {
    color: #aaa;
    text-decoration: none;
}

.footer-links a:hover {
    color: #d4af37;
}

/* Contact */

.footer-contact p {
    color: #aaa;
    margin: 8px 0;
}

/* Bottom */

.footer-bottom {
    border-top: 1px solid #333;
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
}

.footer-bottom p {
    color: #777;
    font-size: 13px;
}


/* Mobile */

@media (max-width: 600px) {

    .footer-box {
        flex-direction: column;
    }

}
/* Desktop */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Tablet */
@media (max-width: 768px) {

    .container {
        width: 92%;
    }

    .footer-box {
        flex-direction: column;
    }
}

/* Mobile */
@media (max-width: 480px) {

    .container {
        width: 94%;
    }

    h1 {
        font-size: 32px;
    }

    img {
        max-width: 100%;
    }
}


